
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторы</title>
    <link type="text/css" href = "{% static 'css/styles.css' %}" rel = "stylesheet">
</head>
<body>
{% block content %}
{% for author in author_list %}
    <p><label>Имя: </label>{{ author.name }}</p>
    <p><label>Фамилия: </label>{{ author.family }}</p>
    <p><label>Email: </label>{{ author.email }}</p>
    <hr>
{% endfor %}
{% endblock %}

</body>
</html>