{% load static %}
<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link type="text/css" href = "{% static 'css/styles.css' %}" rel = "stylesheet">
</head>

<header header class='header'>

  Я шапка сайта. Могу повторяться на других страницах.
</header>
{% block content %}
{% endblock %}
{% for post in post_list %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.description }}</h2>
    <h3>{{ post.author }}</h3>

    <h4>{{ post.create_at }}</h4>
    <hr>
{% endfor %}
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
            <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

</body>
<footer footer class='footer'>
  Я подвал сайта, я как шапка.
</footer>
</html>